.htaccess
info.php
sync_config.jsonc
composer.lock
backup/
etc/config.php
etc/.htaccess
var/db/*
!var/db
!var/db/.gitkeep
var/log/*
!var/log
!var/log/.gitkeep
var/cache/*
!var/cache
!var/cache/.gitkeep
var/session/*
!var/session
!var/session/.gitkeep
var/tmp/*
!var/tmp
!var/tmp/.gitkeep
var/spool/*
!var/spool
var/spool/mailer/*
!var/spool/mailer
!var/spool/mailer/.gitkeep
var/.htaccess
vendor/